:root {
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-surface-light: rgba(243, 243, 243, .86);
    --b3-theme-error: #d23f31;
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;
    --b3-font-family: "quote", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-border-color: rgba(0, 0, 0, .1);
    --b3-scroll-color: rgba(0, 0, 0, .2);
    --b3-list-hover: rgba(0, 0, 0, .05);
    --b3-tab-background: #f3f3f3;
    --b3-tab-background-hover: #e9eaeb;
    --b3-menu-background: #f8f9fa;
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);
    --b3-font-color1: var(--b3-card-error-color);
    --b3-font-color2: var(--b3-card-warning-color);
    --b3-font-color3: var(--b3-card-info-color);
    --b3-font-color4: var(--b3-card-success-color);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color6: var(--b3-theme-primary);
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: var(--b3-theme-error);
    --b3-font-color9: #f5539e;
    --b3-font-color10: #944194;
    --b3-font-color11: #65b84d;
    --b3-font-color12: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: var(--b3-card-error-background);
    --b3-font-background2: var(--b3-card-warning-background);
    --b3-font-background3: var(--b3-card-info-background);
    --b3-font-background4: var(--b3-card-success-background);
    --b3-font-background5: var(--b3-theme-surface);
    --b3-font-background6: var(--b3-theme-primary-light);
    --b3-font-background7: rgba(217, 211, 215, 0.5);
    --b3-font-background8: rgba(255, 193, 153, 0.5);
    --b3-font-background9: rgba(189, 201, 255, 0.5);
    --b3-font-background10: rgba(239, 218, 251, 0.5);
    --b3-font-background11: rgba(234, 202, 220, 0.5);
    --b3-font-background12: rgba(253, 198, 200, 0.5);
    --b3-font-background13: var(--b3-theme-on-background);
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: #ffe955;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194
}

.protyle-wysiwyg [data-node-id] span[data-anchor=""] {
    color: #29011a;
    border: 1px solid #000000;
    border-radius: 3px;
    background-size: 20px;
    background-clip: padding-box
}

.b3-text-filed.fn__block[readonly] {
    border: none
}

.b3-text-filed.fn__block[readonly]:focus {
    border: none
}

.b3-menu, .protyle-util {
    box-shadow: 1px 1px 5px   rgba(0, 0, 0, 0.664)
}

.block__popover.block__popover--move.block__popover--open {
    box-shadow: 1px 1px 5px   rgba(0, 0, 0, 0.664)
}

.protyle-wysiwyg [data-node-id].li.protyle-task--done {
    padding: 0;
    text-decoration-line: line-through;
    color: gray
}

div[data-type="NodeBlockQueryEmbed"]>div {
    margin-top: 5px
}

.protyle-wysiwyg [data-node-id="20210928203725-79l9qxh"] iframe {
    border: solid
}

.list[custom-table='true'] {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.list[custom-table='true'][custom-columns='3'] {
    grid-template-columns: repeat(3, 1fr)
}

.list[custom-table='true'][custom-columns='4'] {
    grid-template-columns: repeat(4, 1fr)
}

.list[custom-table='true'][custom-columns='5'] {
    grid-template-columns: repeat(5, 1fr)
}

.list[custom-table='true'][custom-columns='6'] {
    grid-template-columns: repeat(6, 1fr)
}

.list[custom-table='true'][custom-columns='7'] {
    grid-template-columns: repeat(7, 1fr)
}

.list[custom-table='true'][custom-columns='8'] {
    grid-template-columns: repeat(8, 1fr)
}

.list[custom-table='true'][custom-columns='9'] {
    grid-template-columns: repeat(9, 1fr)
}

.list[custom-table='true'][custom-columns='10'] {
    grid-template-columns: repeat(10, 1fr)
}

.list[custom-table='true'][custom-columns='11'] {
    grid-template-columns: repeat(11, 1fr)
}

.list[custom-table='true'][custom-columns='12'] {
    grid-template-columns: repeat(12, 1fr)
}

[custom-col-span="2"] {
    grid-column-start: span 2
}

[custom-col-span="3"] {
    grid-column-start: span 3
}

[custom-col-span="4"] {
    grid-column-start: span 4
}

[custom-col-span="5"] {
    grid-column-start: span 5
}

[custom-col-span="6"] {
    grid-column-start: span 6
}

[custom-col-span="7"] {
    grid-column-start: span 7
}

[custom-col-span="8"] {
    grid-column-start: span 8
}

[custom-col-span="9"] {
    grid-column-start: span 9
}

[custom-col-span="11"] {
    grid-column-start: span 11
}

[custom-col-span="12"] {
    grid-column-start: span 12
}

[custom-row-span="2"] {
    grid-row-start: span 2
}

[custom-row-span="3"] {
    grid-row-start: span 3
}

[custom-row-span="4"] {
    grid-row-start: span 4
}

[custom-row-span="5"] {
    grid-row-start: span 5
}

[custom-row-span="6"] {
    grid-row-start: span 6
}

[custom-row-span="7"] {
    grid-row-start: span 7
}

[custom-row-span="8"] {
    grid-row-start: span 8
}

[custom-row-span="9"] {
    grid-row-start: span 9
}

[custom-row-span="11"] {
    grid-row-start: span 11
}

[custom-row-span="12"] {
    grid-row-start: span 12
}

.list[custom-table-border="solid"] {
    border-style: solid;
    padding: 0
}

.list[custom-table-hline="solid"]>.li {
    outline-style: solid;
    margin: 0
}

*[custom-color="red"],*[custom-color="红"] {
    color: red
}

.protyle-wysiwyg [data-node-id] span[data-anchor=""] {
    color: #29011a;
    border: 1px solid #000000;
    border-radius: 3px;
    background-size: 20px;
    background-clip: padding-box
}

.b3-text-filed.fn__block[readonly] {
    border: none
}

.b3-text-filed.fn__block[readonly]:focus {
    border: none
}

.b3-menu, .protyle-util {
    box-shadow: 1px 1px 5px   rgba(0, 0, 0, 0.664)
}

.block__popover.block__popover--move.block__popover--open {
    box-shadow: 1px 1px 5px   rgba(0, 0, 0, 0.664)
}

.protyle-wysiwyg [data-node-id].li.protyle-task--done {
    padding: 0;
    text-decoration-line: line-through;
    color: gray
}

div[data-type="NodeBlockQueryEmbed"]>div {
    margin-top: 5px
}

.protyle-wysiwyg [data-node-id="20210928203725-79l9qxh"] iframe {
    border: solid
}

.list[custom-table='true'] {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.list[custom-table='true'][custom-columns='3'] {
    grid-template-columns: repeat(3, 1fr)
}

.list[custom-table='true'][custom-columns='4'] {
    grid-template-columns: repeat(4, 1fr)
}

.list[custom-table='true'][custom-columns='5'] {
    grid-template-columns: repeat(5, 1fr)
}

.list[custom-table='true'][custom-columns='6'] {
    grid-template-columns: repeat(6, 1fr)
}

.list[custom-table='true'][custom-columns='7'] {
    grid-template-columns: repeat(7, 1fr)
}

.list[custom-table='true'][custom-columns='8'] {
    grid-template-columns: repeat(8, 1fr)
}

.list[custom-table='true'][custom-columns='9'] {
    grid-template-columns: repeat(9, 1fr)
}

.list[custom-table='true'][custom-columns='10'] {
    grid-template-columns: repeat(10, 1fr)
}

.list[custom-table='true'][custom-columns='11'] {
    grid-template-columns: repeat(11, 1fr)
}

.list[custom-table='true'][custom-columns='12'] {
    grid-template-columns: repeat(12, 1fr)
}

[custom-col-span="2"] {
    grid-column-start: span 2
}

[custom-col-span="3"] {
    grid-column-start: span 3
}

[custom-col-span="4"] {
    grid-column-start: span 4
}

[custom-col-span="5"] {
    grid-column-start: span 5
}

[custom-col-span="6"] {
    grid-column-start: span 6
}

[custom-col-span="7"] {
    grid-column-start: span 7
}

[custom-col-span="8"] {
    grid-column-start: span 8
}

[custom-col-span="9"] {
    grid-column-start: span 9
}

[custom-col-span="11"] {
    grid-column-start: span 11
}

[custom-col-span="12"] {
    grid-column-start: span 12
}

[custom-row-span="2"] {
    grid-row-start: span 2
}

[custom-row-span="3"] {
    grid-row-start: span 3
}

[custom-row-span="4"] {
    grid-row-start: span 4
}

[custom-row-span="5"] {
    grid-row-start: span 5
}

[custom-row-span="6"] {
    grid-row-start: span 6
}

[custom-row-span="7"] {
    grid-row-start: span 7
}

[custom-row-span="8"] {
    grid-row-start: span 8
}

[custom-row-span="9"] {
    grid-row-start: span 9
}

[custom-row-span="11"] {
    grid-row-start: span 11
}

[custom-row-span="12"] {
    grid-row-start: span 12
}

.list[custom-table-border="solid"] {
    border-style: solid;
    padding: 0
}

.list[custom-table-hline="solid"]>.li {
    outline-style: solid;
    margin: 0
}

*[custom-color="red"],*[custom-color="红"] {
    color: red
}

.sb[custom-kanban="容器"] .sb {
    border-style: solid;
    border-width: 1px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    border-radius: 10px;
    background-color: var(--b3-card-warning-background)
}

.sb[custom-kanban="容器"] .sb>div[data-type="NodeHeading"] {
    border-bottom-style: solid !important;
    border-bottom-width: 1px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
    background-color: var(--b3-card-warning-background)
}

.layout-tab-bar {
    flex-wrap: wrap
}

.protyle-wysiwyg *[data-node-id] {
    outline: dotted grey 1px
}

.protyle-wysiwyg .iframe-content,.protyle-wysiwyg [data-node-id]>*:not([data-node-id]) {
    outline: none
}

.protyle-wysiwyg .li,.protyle-wysiwyg .list .list {
    outline: none
}

.protyle-wysiwyg .sb>[data-node-id] {
    margin: 3px
}

@importurl(mokuai/fuxikapian.css) {

}

@importurl(mokuai/liebiaobiaoge.css) {

}

@importurl(mokuai/liebiaokapian.css) {

}

@importurl(mokuai/xingbiao.css) {

}

@importurl(mokuai/kanban.css) {

}

