@import url(../daylight/theme.css);
@media print{
    div[data-type="NodeThematicBreak"]{
        page-break-after:always;
        display:none !important
    }
}
div.protyle-wysiwyg.protyle-wysiwyg--attr[data-doc-type="NodeDocument"]{
    padding-bottom: 50px!important;
}