/*使用一个选择器选择列表*/
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .protyle-action{
    display: table-cell;
   
}
.protyle-wysiwyg *[custom-ccstyle='列表表格'] ::-webkit-scrollbar{
  
        width: 0px;
      
}
.protyle-wysiwyg *[custom-ccstyle='列表表格'] ，
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .list ,
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .li .list{
    border-style: solid;
    border-width: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    width: 100%;
    height: inherit !important;
    display: table-column-group;
    outline: solid rgba(0, 0, 0, 1) 1px;
    overflow-block: hidden;
}
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .li{
    font-size: large !important;
    border-style: solid;
    border-width: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    width: 100% !important; 
    min-height: 36px;
    display: -webkit-flex;
    outline: solid rgba(0, 0, 0, 1) 1px;
    overflow-x: auto;
}

.protyle-wysiwyg *[custom-ccstyle='列表表格'] .p {
    width: min-content;
    min-width: 200px;
    margin-right: 0px;
    margin-left: 0px;
    display: table-cell;
}
.protyle-wysiwyg *[custom-ccstyle='列表表格']  .div {
    width: min-content;
    min-width: 20px !important;
}
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .li::first-line .p{
    width: 100% !important;
}
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .list:last-child:first-child ~ li .p{
    width: 100% !important;
}
.protyle-wysiwyg *[custom-ccstyle='列表表格'] .protyle.attr:last-child:nth-child(3) .p{
    width: 100% !important;
}

