<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- 导入 Vue 3 -->
    <link rel="stylesheet" href="/script/public/static/element-plus/index.css" />
    <script src="/script/public/static/vue/vue.global.js"></script>
    <script src="/script/public/static/element-plus/index.full.js"></script>
    <style>
        .fn__grid{
            display:grid;
            grid-template-columns: repeat(6,1fr);
        }
    </style>
</head>

<body>
    <div id="app"></div>
</body>
<template style="display: false;" id="template">
    <el-container>
        <el-header>插件设置</el-header>
       <el-main>
            
            <div class="fn__grid" style="padding: 6px;">
                <div v-for="(开关值,插件名) in config" style="padding: 3px;">
                    <el-card  :key = 插件名>
                        <div style="height:150px">
                        <img style="max-width:100%;min-width: 100%;min-height:150px ;max-height: 150px;" :src="`/plugins/${插件名}/preview.png`">
                        </div>
                        <el-row>
                            <el-col :span="8">{{插件名}}</el-col>
                            <el-col :span="8"></el-col>
                            <el-col :span="8"></el-col>
                        </el-row>
                        <el-row>
                            <span>
                                <span >{{插件描述[插件名]||"这个插件没有描述"}}</span>
                            </span>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-button size="mini">更新</el-button>
                            </el-col>
                            <el-col :span="8">
                                <el-button size="mini">卸载</el-button>
                            </el-col>
                            <el-col :span="8" v-if="插件设置[插件名]">
                                <el-button size="mini"><el-link :href="`/plugins/${插件名}/`">设置</el-link></el-button>
                            </el-col>
                            <el-col :span="8">
                                <span>启用                     <el-switch v-model="config[插件名]"></el-switch>
                                </span>
                            </el-col>
                        </el-row>
    
                    </el-card>
                </div>
            </div>
        </el-main>
       <el-footer>

            <el-button @click="重置()">
                重置
            </el-button>
            <el-button @click="保存()">
                保存
            </el-button>
        </el-footer>
    </el-container>
</template>
<script>
        const 消息广播器 = new BroadcastChannel("configPages")
        消息广播器.onmessage=(evt)=>{console.log(evt)}
        消息广播器.postMessage("evt")
    let customfig = {}
    async function 向思源请求数据(url, apitoken, data) {
        let resData = null
        await fetch(url, {
            body: JSON.stringify(data),
            method: 'POST',
            headers: { 'Authorization': 'Token ' + apitoken },
        }).then(function (response) { resData = response.json() })
        return resData
    }
    const app = Vue.createApp({
        template: document.getElementById('template').innerHTML,
        data() {
            return {
                config: {},
                插件描述:{},
                插件设置:{}
            }
        },
        mounted() {
            this.config = customfig
            for(let 插件名 in this.config){
                fetch(`/plugins/${插件名}/plugin.json`).then((response) => response.json()).then(json => {
                    this.插件描述[插件名]=json.describe
                })
                fetch(`/plugins/${插件名}/index.html`).then((res)=>res.status!==404?this.插件设置[插件名]=true:null)
            }
        },
        methods: {
            重置() {
                window.location.reload()
            },
            保存() {
                const formData = new FormData()
                this.config.configPages=true
                data = JSON.stringify(this.config, undefined, 4)
                var blob = new Blob([data], { type: 'text/json' })
                formData.append('path', '\\conf\\naiveConf\\config\\pluginsConfig.json')
                formData.append('modTime', Date.now())
                formData.append('file', blob)
                let url = '/naiveApi/file/putFile'
                fetch(url, {
                    body: formData,
                    method: "POST",
                })
            }
        },
        watch: {
            config: {
                handler(val) {
                    this.保存()
                },
                deep: true
            }
        }
    })
    app.use(ElementPlus);
    const readJson = function () {
        console.log(this)
        let vm = this
        fetch('/naiveApi/pluginConfig').then((response) => response.json()).then(json => {
            customfig = Vue.reactive(json)
            const vm = app.mount('#app')
        })
    }
    readJson()
</script>
</html>