<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 导入 Vue 3 -->
    <link rel="stylesheet" href="//npm.elemecdn.com/element-plus/dist/index.css" />
    <script src="https://npm.elemecdn.com/vue@3.2.33/dist/vue.global.js"></script>
    <!-- 导入组件库 -->
    <script src="https://npm.elemecdn.com/element-plus"></script>

</head>
<body>
    <div id="app"></div>
</body>
<template style="display: false;" id="template">
    <el-container>
        <el-header>发布服务配置</el-header>
        <el-main>
            <el-form :model="config" label-width="120px">
                <el-form-item label="发布地址">
                    <el-input v-model="config.发布地址" />
                </el-form-item>
                <el-form-item label="发布端口">
                    <el-input v-model="config.发布端口" />
                </el-form-item>
                <el-form-item label="思源伺服地址">
                    <el-input v-model="config.思源伺服地址" />
                </el-form-item>
                <el-form-item label="思源伺服端口">
                    <el-input v-model="config.思源伺服端口" />
                </el-form-item>
                <el-form-item label="基础样式">
                    <el-input v-model="config.基础样式" />
                </el-form-item>
                <el-form-item label="发布使用主题">
                    <el-input v-model="config.发布主题" />
                </el-form-item>
                <el-form-item label="发布使用脚本">
                    <el-input v-model="config.发布脚本" />
                </el-form-item>
                <el-form-item label="空页面替代内容">
                    <el-input v-model="config.空页面内容" />
                </el-form-item>
                <el-form-item label="首页" v-if="config.首页">
                    <el-input v-model="config.首页.思源文档id" />
                </el-form-item>
                <el-form-item label="分享设置">
                    <el-row>
                        <el-col :span="6">
                            <el-switch active-text="有限分享" v-model="config.有限分享" />
                        </el-col>
                        <el-col :span="6">

                            <el-switch active-text="即时分享" v-model="config.即时分享" />
                        </el-col>
                        <el-col :span="6">
                            <el-switch active-text="单块分享" v-model="config.单块分享" />
                        </el-col>
                        <el-col :span="6">
                            <el-switch active-text="使用图床" v-model="config.使用图床资源" />
                        </el-col>
                       
                    </el-row>
                 
                </el-form-item>
                <el-form-item label="安全设置">
                    <el-row>
                        <el-col :span="8">
                            <el-switch active-text="暴露挂件" v-model="config.暴露挂件" />
                        </el-col>
                        <el-col :span="8">

                            <el-switch active-text="暴露api" v-model="config.暴露api" />
                        </el-col>
                        <el-col :span="8">

                            <el-switch active-text="暴露附件" v-model="config.暴露附件" />
                        </el-col>
                    </el-row>
                    
                </el-form-item>
                <el-form-item label="搜索设置" >
                    <el-row>
                        <el-col :span="8">
                            <el-switch active-text="允许搜索" v-model="config.允许搜索" />
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="思源图床账号id">
                    <el-input v-model="config.思源账号id" />
                </el-form-item>
                <el-form-item label="发布图标">
                    <el-input v-model="config.发布图标" />
                </el-form-item>
                <el-form-item label="发布脚注">
                    <el-input v-model="config.脚注内容" />
                </el-form-item>
            </el-form>
        </el-main>
        <el-footer>

            <el-button @click="重置()">
                重置
            </el-button>
            <el-button @click="保存()">
                保存
            </el-button>
        </el-footer>
    </el-container>
</template>
<script>

    let customfig = {}
    async function 向思源请求数据(url, apitoken, data) {
        let resData = null
        await fetch(url, {
            body: JSON.stringify(data),
            method: 'POST',
            headers: { 'Authorization': 'Token ' + apitoken },
        }).then(function (response) { resData = response.json() })
        return resData
    }
    const app = Vue.createApp({
        template: document.getElementById('template').innerHTML,
        data() {
            return {
                config: {}
            }
        },
        mounted() {
            this.config = customfig
        },
        methods: {
            重置() {
                fetch('.././config/publish.json').then((response) => response.json()).then(json => {
                    this.config = Vue.reactive(json)
                })
            },
            保存() {
                const formData = new FormData()
                //允许搜索的情况下块鉴权大大降低性能
                if(this.config.有限分享){
                    this.config.允许搜索=false
                }
                data = JSON.stringify(this.config, undefined, 4)
                var blob = new Blob([data], {type: 'text/json'})

                formData.append('path', 'conf\\appearance\\themes\\naive\\config\\publish.json')
                formData.append('modTime', Date.now())
                formData.append('file', blob)
                let url = '/api/file/putFile'
                fetch(url,{
                    body:formData,
                    method:"POST",
                })
            }
        },
        watch: {
            config: {
                handler(val) {
                    console.log(val)
                },
                deep: true
            }
        }
    })
    app.use(ElementPlus);

    const readJson = function () {
        console.log(this)
        let vm = this
        fetch('.././config/publish.json').then((response) => response.json()).then(json => {
            customfig = Vue.reactive(json)
            const vm = app.mount('#app')
        })
    }
    readJson()
</script>
</html>